*, ::after, ::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size:1.5vw;
    text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
    font-size:1.5rem;
    width: 100%;
}
table{
    padding: 1rem 0 1rem 0;
    margin: auto;
}
.round-border{
    border: 0.5rem solid #F2789F;
    border-radius: 0.5rem;
}
@media screen and (min-width: 1000px){
    html{
        font-size: 15px;
    }
    body{
        width: 1000px;
        margin:auto;
    }
}

.all-container{
    padding-top: 15px;
}
/*유민이의 수강 일정*/
/*.title-container-이부분 지워도 똑같지??*/h1{
    width: max-content;
    margin:auto;
    background-color: #F2789F;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 5rem;
    padding: 1rem 2rem 1rem 2rem;
}
/*학점이수표*/
h2{
    color: white;
}
.hakjumesupyo-container{
    margin-top:3rem;
    padding: 0 0 2rem 0;
    background-color: #F2789F;
    /*margin-bottom: 15px;*/
}
.hakjumesu-contents{
    background-color:#FEE3EC;
    display: flex;
    justify-content: center;
}
.hakjumesu-contents div{
    padding: 0 2rem 0 2rem;
}
.jungong-container{
    flex-direction: column;
}
.hakjumesu-contents ul{
    /*list-style-type: circle;*/
    line-height: 1.5;
    text-align: left;
}
.hakjumesu-contents p,h3{
    line-height: 2;
}

/*학기별 수강과목*/
.hakkisugang-container{
    margin-top: 3rem;
    padding: 0 0 2rem 0;
    background-color: #F2789F;
}

.sub-container{
    margin-top: 10px;
    background-color: #FEE3EC;
}
#first-sub-container{
    margin-top: 0;
}

