*, ::after, ::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size:10px;
    text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
    font-size:1.5rem;
    width: max-content;
    margin:auto;
}
table{
    padding: 1rem 0 1rem 0;
    margin: auto;
}
/*@media screen and (min-width: 800px){
    html{
        font-size: 10px;
    }
}*/
.round-border{
    border: 0.5rem solid #F2789F;
    border-radius: 0.5rem;
}
.all-container{
    padding-top: 15px;
}

.title-container h1{
    width: max-content;
    margin:auto;
    background-color: #F2789F;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 5rem;
    padding: 1rem 2rem 1rem 2rem;
}

/*.article-container{*/
/*    margin-top: 8px;*/
/*    padding-top: 15px;*/
/*    background-color: #F9C5D5;*/
/*}*/

h2{
  color: white;
}

.hakjumesu-container{
    margin-top:3rem;
    padding: 0 0 2rem 0;
    background-color: #F2789F;
    margin-bottom: 15px;
}

.total-contents{
    background-color:#FEE3EC;
    display: flex;
    justify-content: center;
}

.total-contents ul{
    list-style: inside;
    line-height: 1.5;
    text-align: left;
}

.total-contents div{
    padding: 0 2rem 0 2rem;
}
.total-contents p,h3{
    line-height: 2;
}

.main-container{
    padding: 0 0 2rem 0;
    background-color: #F2789F;
}

.sub-container{
    margin-top: 10px;
    background-color: #FEE3EC;
}
#first-sub-container{
    margin-top: 0;
}

