*, ::after, ::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    font-size:1.5vw;
    text-align: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
body{
    font-size:1.5rem;
    width: 100%; 
    /* 바꾼 이유는 100%는 부모의 크기의 100%를 따라간다는 말이야, body의 부모는 html이고  */
    margin:auto;
}
table{
    padding: 1rem 0 1rem 0;
    margin: auto;
}


@media screen and (min-width: 800px){
    html{
        font-size: 12px;
    }
    body{
        width: max-content;
        /* 추가한 이유는 크기가 800px 이상이면 max-content 즉 그 안의 내용물의 크기로 크기를 정한다는 소리야 */
        /* 세미콜론(;)을 쓰는 이유는 한 줄이 끝났음을 알려주는것 */
    }
}

.round-border{
    border: 0.5rem solid #F2789F;
    border-radius: 0.5rem;
}
.all-container{
    padding-top: 15px;
}

.title-container h1{
    width: max-content;
    margin:auto;
    background-color: #F2789F;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 5rem;
    padding: 1rem 2rem 1rem 2rem;
}

/*.article-container{*/
/*    margin-top: 8px;*/
/*    padding-top: 15px;*/
/*    background-color: #F9C5D5;*/
/*}*/

h2{
  color: white;
}

.hakjumesupyo-container{
    margin-top:3rem;
    padding: 0 0 2rem 0;
    background-color: #F2789F;
    margin-bottom: 15px;
}

.jungong-container{
    flex-direction: column;
}

.hakjumesu-contents{
    background-color:#FEE3EC;
    display: flex;
    justify-content: center;
}

.hakjumesu-contents ul{
    list-style: inside;
    line-height: 1.5;
    text-align: left;
}

.hakjumesu-contents div{
    padding: 0 2rem 0 2rem;
}

.hakjumesu-contents p,h3{
    line-height: 2;
}

.hakkisugang-container{
    padding: 0 0 2rem 0;
    background-color: #F2789F;
}

.sub-container{
    margin-top: 10px;
    background-color: #FEE3EC;
}
#first-sub-container{
    margin-top: 0;
}

