*, ::after, ::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size:1.25vw;
}
@media screen and (min-width: 800px){
    html{
        font-size: 10px;
    }
}
.all-container{
    padding-top: 15px;
    background-color: #FEE3EC;
}
.title-container{
}
.title-container h1{
    width: max-content;
    margin:auto;
    background-color: #F2789F;
    text-align: center;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 5rem;
    border: 0.5rem solid #F2789F;
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
}

/*.article-container{*/
/*    margin-top: 8px;*/
/*    padding-top: 15px;*/
/*    background-color: #F9C5D5;*/
/*}*/


.total-container{
    margin-top:3rem;
    background-color: #F2789F;
    margin-bottom: 15px;
}
.main-container{
    background-color: #FF6363;
}
.sub-container{
    margin-top: 10px;
    background-color: #F2789F;
}