*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.875vw;
}

@media screen and (min-width: 800px) {
    html{
        font-size: 15px;
    }
}


.all-container{
    padding-top: 15px;
    background-color: #FEE3EC;
}
.title-container{
    background-color: #F2789F;
}

.title-container h1{
    text-align: center;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3rem;
}

.article-container{
    margin-top:8px;
    padding-top:15px;
    background-color: #F9C5D5;
}
.total-container{
    background-color:#F2789F;
}
.main-container{
    margin-top:15px;
    background-color:#FF6363;
}

.sub-container{
    margin-top:5px;
    background-color: #F2789F;
}





/* .mid{
    display: block;

    margin: 0 auto;
}
#exampleBox{
    width:50%;
    height:70px;
    padding: 10px;
    background-color: #FEE3EC;
}
#example2{
    width:50%;
    margin: auto;
    height:50px;
    background-color: #F2789F;
} */